[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
dj-database-url = "*"
psycopg2 = "*"
coverage = "*"
whitenoise = "*"
pyyaml = "*"
gunicorn = "*"
uritemplate = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"

[requires]
python_version = "3.11"