[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
dj-database-url = "*"
whitenoise = "*"
pyyaml = "*"
gunicorn = "*"
uritemplate = "*"
psycopg = {extras = ["binary"], version = "*"}
sentry-sdk = {extras = ["django"], version = "*"}

[dev-packages]
pylint = "*"
pylint-django = "*"
black = "*"
coverage = "*"

[requires]
python_version = "3.12"
