name: integration

on:
  push:
    branches: 
      - '*'
  pull_request:
    branches: 
      - "main"

env:
  DATABASE_URL: ${{ secrets.DATABASE_URL }}
  CLIENT_SECRET: ${{ secrets.CLIENT_SECRET}}
  ENV: test

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.x'

    - name: Install Dependencies
      run: |
        python -m pip install pipenv
        pipenv install

    - name: Run Tests
      run: |
        pipenv run python manage.py collectstatic
        pipenv run coverage run manage.py test
        pipenv run coverage xml
    
    - name: Codecov
      uses: codecov/codecov-action@v3.1.0
      
  analyze:
    name: Analyze
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write

    strategy:
      fail-fast: false

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Initialize CodeQL
      uses: github/codeql-action/init@v2
      with:
        languages: "python"

    - name: Autobuild
      uses: github/codeql-action/autobuild@v2

    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@v2
      with:
        category: "/language:python"

